doctype html
html
  head
    title Dan Esmail
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='../styles/profile.css')

  body
    .container(id="heading")
      .row
        .col-sm-4
        .col-sm-4
          h1 Daniel Esmail
          h3 Full Stack Developer
          img(src="../Images/picture.png", alt="picture of the developer", class="img-responsive")
        .col-sm-4
    .container.nav(id='nav')
      ul
        li(class='nav-bar')
          a(href='#about-page', id="About") About
        li(class='nav-bar')
          a(href='#skills-page', id="Skills") Skills
        li(class='nav-bar')
          div(id='dropdown')
            a(href='#', id="Projects") Projects
              span(class="caret")
            div(id='dropdown-projects')
              a(href='/projects') All Projects
              a(href='/projects/volleyball') Volleyball rotation
              a(href='/projects/twitch') Twitch api viewer
              a(href='/projects/weather') Weather app
              a(href="/projects/simon") Simon game
              a(href='/projects/ticTacToe') Tic tac toe
              a(href='/projects/wikiSearch') Wiki search
              a(href='/projects/rockQuotes') Rock quotes
              a(href='/projects/timer') Pomodoro timer
              a(href='/projects/calc') Calculator


        li(class='nav-bar')
          a(href='#contact-page', id="Contact") Contact Me

    .container(id="about-page")
      h3 About me
      br
      p.
        I am a self-taught mean full stack developer.
        My interest in programming began when I built my first computer back in 2011.
        Initially, programming caught my interest because the idea of simple text becoming something real, tangible, and useful amazed me.
        I started to learn the basics and was instantly hooked. I have been programming for around a year now, and I apply it to my everyday life.
        I coach a youth volleyball team in my free-time, and recently I created a program to help me set up the line-up and rotation for the athletes.
        Some of the tools I used to help me learn programming include
        #[a(target="blank", href="https://www.freecodecamp.com/danesmail") Free Code Camp,]
        #[a(target="blank", href="https://teamtreehouse.com/danielesmail") TreeHouse]
        ,and #[a(target="blank", href="https://www.codeschool.com") code School]
        Learning new languages and frameworks make me feel like a child opening presents on Christmas, and my goal is to take my passion for programming and make a career out of it.
    .container(id="skills-page")
      h3 Skill
      h5 Languages and frameworks
      br
      .row
        .col-sm-4
          ul
            li HTML
            li CSS
            li SCSS
            li Bootstrap
        .col-sm-4
          ul
            li Javascript
            li jQuary
            li MongoDB
            li Mongoose.js
        .col-sm-4
          ul
            li Node.js
            li Express.js
            li pugjs
            li Git
    .container(id="projects-page")
      h1(id="Projects-title") projects
      .row
        .col-md-4
          .project-box
            a(href='projects/wikiSearch')
              img(src="../Images/Wiki.png", class="img-responsive project", alt="a picture of a list of of searched items")

        .col-md-4
          .project-box
            a(href="projects/simon")
              img(src="../Images/Simon.png", class="img-responsive project", alt="a game of simon")
        .col-md-4
          .project-box
            a(href='projects/rockQuotes')
              img(src="../Images/RockQuotes.png", class="img-responsive project", alt="amp with rock qoutes inside")
    .container.nav(id="contact-page")
      ul
        li(class="nav-bar")
          a(targer='blank', href='https://github.com/DanEsmail') Github
        li(class="nav-bar")
          a(targer='blank', href='https://www.linkedin.com/in/daniel-esmail-55420435/') Linkdin
    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='/scripts/profile.js')
