.container-fluid.project-nav
  ul
    li(class='project-nav-bar')
      a(href='/', id='project-nav-home') Home
    li(class='project-nav-bar')
      a(target='blank',href='https://github.com/DanEsmail', id='project-nav-github') Github
    li(class='project-nav-bar')
      a(target='blank',href='https://www.linkedin.com/in/daniel-esmail-55420435/') Linkdin
