doctype html
head
  title  A Game Of Simon
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/styles/simon.css')
  link(rel='stylesheet', type='text/css', href='/styles/project-nav.css')
body
  include ./project-nav.pug
  .container
    .row
      .col-md-3
      #game-box.col-md-6
        h1.digital-font A Game of Simon
        br
        p(class="instructions top") How to play
        p(class="instructions")  Simon will play a sequence of color. Once Simon has shown you the sequence of colors you need to match it.
        p(class="instructions top") Game modes
        p(class="instructions") Normal: if you mess up Simon will play the sequence over again.
        p(class="instructions") Strict: if you mess up you have to restart from 0.
        br
        #buttons
          button#play.controls.btn.digital-font Play
          button#clear.controls.btn.digital-font  clear
          button#change-game.controls.btn.digital-font Strict
        br
        div
          button#green.simon-button.font
            b  Green
          button#red.simon-button.font
            b Red
        #bottom-row
          button#yellow.simon-button.font
            b Yellow
          button#blue.simon-button.font
            b  Blue
        .score-box
          p#game-counter.digital-font Counter: 0
          p#game-mode.digital-font Game Mode: Off
      .col-md-3
  audio#green-sound
    source(src='https://s3.amazonaws.com/freecodecamp/simonSound1.mp3', type='audio/mpeg')
  audio#red-sound
    source(src='https://s3.amazonaws.com/freecodecamp/simonSound2.mp3', type='audio/mpeg')
  audio#blue-sound
    source(src='https://s3.amazonaws.com/freecodecamp/simonSound3.mp3', type='audio/mpeg')
  audio#yellow-sound
    source(src='https://s3.amazonaws.com/freecodecamp/simonSound4.mp3', type='audio/mpeg')
  audio#wrong
    source(src='/Images/Wrong.wav', type='audio/wav')
    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='/scripts/simon.js')
