doctype html
head
  meta(charset='utf-8')
  title Tibute page for Ed McMillen
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='/styles/tribute.css')
  link(rel='stylesheet', type='text/css', href='/styles/project-nav.css')
body
  include ./project-nav.pug
  .container-fluid
      h1#title.text-center.game-text Ed McMillen
      h4.text-center.game-text Game Designer
      .col-xs-2
      .col-xs-8
        img.img-responsive(src='http://piskel-imgstore-b.appspot.com/img/d594cd68-213d-11e6-8e18-87f8df2e403c.gif')
        .photo
          img.img-responsive(src='https://i.ytimg.com/vi/BDDSYnZfxTM/maxresdefault.jpg')
        p.normal-text.text-center
          | Ed McMillen during an interview for
          i "Indie the movie"
        div
          h2.text-center.normal-text Ed McMillen's Major Game Releases
        div
          ul
            li
              b 2001
              | -
              i "The Backup Files"
              |  - Ed McMillens first game.
            li
              b 2004
              |  -
              i "Gish"
              |  - First game Ed McMillen releases on Windows
            li
              b 2008
              |  -
              i Aether
              |  - one of Ed McMillen more successful flash games.
            li
              b 2008
              |  -
              i Meat Boy
              |  - Ed's most successful flash game.
            li
              b 2010
              |  -
              i "Super Meat Boy"
              |  - meat boy gets a squeal and released on steam, and the consoles and is a huge success.
            li
              b 2011
              |  -
              i "Binding of Isaac"
              |  - Ed McMillen's second major indie release.
            li
              b 2014
              |  -
              i "Binding of Isaac: Rebirth"
              |  - the binding of Isaac get remade and updated for consoles with help form Nicalis Inc.
          h4.text-center.normal-text
            | More info about
            a(href='https://en.wikipedia.org/wiki/Edmund_McMillen', target='_"blank"') Ed McMillen
          h4.text-center.normal-text
            | Ed McMillen's
            a(href='http://edmundm.com/', target='_blank') Blog
      .col-xs-2
      div
