@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700);
@import url('https://fonts.googleapis.com/css?family=Orbitron');

html{
  font-size: 16px;
}

body{
  background: black;
  text-align: center;
  font-size: 62.5%;
}



.font{
  font-family: 'Fira Sans', sans-serif;
  color: black;
}
 .top.instructions{
   border-bottom: solid #00AF27;
   font-size: 1.8em;
 }
.instructions{
  color: white;
  font-size: 1.6em;
}

.controls{
  background: #025E6F;
  border-color: #014B59;
  margin: .5em;
  color: #22C145 !important;
}
.simon-button{
  height: 12em;
  width: 12em;
  margin-left: 1em;
  font-size: 1.6em;
  color: white;
}
#red{
  background-color: #7F1615;
  border-color: #A93838;

}
#green{
  background-color: #357F20;
  border-color: #57A243;

}
#yellow{
  background-color: #BFA613;
  border-color: #E1C832;

}
#blue{
  background-color: #26467F;
  border-color: #3E5B90;
}
#bottom-row{
  margin-top: 1.5em;
}

.score-box{
  margin-top: 2em;
  font-size: 1.6em;
}

#game-box{
  background-color: black;
  height: 100%;
}

.digital-font{
  font-family: "Orbitron", sans-serif;
  color: #00AF27;
}
